<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" 
	"http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <title>正規表現を使った文字列探索/操作コンポーネント集の変更履歴</title>
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
  </head>

  <body>
    <h1>正規表現を使った文字列探索/操作コンポーネント集の変更履歴</h1>
    <dl>
      <dt><b>version 0.16 から version 0.17への変更</b></dt>
      <dd>
        <dl>
          <dt><b>2001/03/02</b></dt>
          <dd>
            MP3の魔術師さんからメモリリークの疑いがある箇所を報告して頂きましたので公開します。
<pre>
&gt; さて、現在そのTAWKStrコンポーネントを用いてソフトウェアを開発しているの
&gt; ですが、一つ不具合と思われるものを発見しましたのでご確認ください。
&gt; ホームページのバグ情報には記載されていないものです。
&gt; 
&gt; function TREParser.NegativeCharacterClass: REpNode_t;
&gt; 
&gt; の内部関数
&gt;   procedure RemoveCC(pLeaf: REpNode_t);
&gt; の
&gt;         if (pNode1 &lt;&gt; nil) or (pNode2 &lt;&gt; nil) then
&gt;           aNeg_ParseTree.LeafList.Delete(i);
&gt; 
&gt; この部分、Deleteしてリストから削除していますが、Disposeしていません。
&gt; よって、
&gt;         if (pNode1 &lt;&gt; nil) or (pNode2 &lt;&gt; nil) then begin
&gt;           Dispose(REpNode_t(aNeg_ParseTree.LeafList[i]));
&gt;           aNeg_ParseTree.LeafList.Delete(i);
&gt;         end;
&gt; 
&gt; として対処しましたが、これでよいのでしょうか？
</pre>
          </dd>

          <DT><B>2000/12/01</B></DT>
          <dd>
            <a href="http://homepage1.nifty.com/~okapon/">おかぽん</a>
            さんから、2000/11/16のバグを修正するための情報をいただきましたので公開します。

<pre>
&gt;   あれから、気になっていろいろソースをさわっていたら、私もよくわかって
&gt;   いないのですが(;^_^A~~、どうやら解決したようです。
&gt;   例のごとく、メモリーリークチェックを使用しましたが、エラー報告されません
&gt;   でした。ということで、「解決したのかな？」というレベルです。
&gt;   
&gt;   こちらでの修正点を書いてみます。
&gt;   適当に改行をいれてありますので、見にくいかもしれません　m(v_v)m
&gt;   
&gt;   (1)--------------------------------------------------------------
&gt;                                         ___/var追加
&gt;   &gt; function TRE_DFA.Register_DFA_State(var aStateSet: TRE_NFAStateSet)
&gt;   &gt;                                                  : RE_pDFAState_t;
&gt;    （省略）
&gt;   &gt;   New(result);
&gt;   &gt;   with result^ do begin
&gt;   &gt;     StateSet := aStateSet;
&gt;   &gt;     visited := False;
&gt;   &gt;     if aStateSet.Has(FNFA.ExitState) then
&gt;   &gt;       accepted := True
&gt;   &gt;     else
&gt;   &gt;       accepted := False;
&gt;   &gt;     next := nil;
&gt;   &gt;   end;
&gt;   &gt;   aStateSet := nil;
&gt;       ^^^^^^^^^^^^^^^^^追加
&gt;   &gt;   FStateList.add(result);
&gt;   &gt; end;
&gt;   
&gt;   (2)------------------------------------------------------------------
&gt;   &gt; { NFAを等価なＤＦＡへと変換する}
&gt;   &gt; procedure TRE_DFA.Convert_NFA_to_DFA;
&gt;    （省略）
&gt;   &gt;     while pDFA_TransNode &lt;&gt; nil do begin
&gt;   &gt;       { NFA状態集合のε-closureを求める}
&gt;   &gt;       Collect_Empty_Transition(pDFA_TransNode^.ToNFAStateSet);
&gt;   &gt; 
&gt;   &gt;       { 遷移情報をDFA状態に加える}
&gt;   &gt;       New(pDFA_StateSub);
&gt;   &gt;       with pDFA_StateSub^ do begin
&gt;   &gt;         next := nil;
&gt;   &gt;         CharClass := pDFA_TransNode^.CharClass;
&gt;   &gt;         next := t^.next;
&gt;   &gt;       end;
&gt;   &gt;       t^.next := pDFA_StateSub;
&gt;   &gt; 
&gt;   &gt;       {現在のDFA状態からの遷移先の新しいDFA状態を登録}
&gt;   &gt;       pDFA_StateSub^.TransitTo :=
&gt;   &gt; 	Register_DFA_State(pDFA_TransNode^.ToNFAStateSet);
&gt;   &gt;       {Register_DFA_StateメソッドによりToNFAStateSet
&gt;   &gt;        オブジェクトはDFA_Stateに所有される}
&gt;   &gt;       {pDFA_TransNode^.ToNFAStateSet := nil;}
&gt;           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
&gt;           Register_DFA_Stateで設定するのでコメント化
&gt;   &gt; 
&gt;   &gt;       pDFA_TransNode := pDFA_TransNode^.next;
&gt;   &gt;     end;
&gt;   (省略)
&gt;   
&gt;   (3)-----------------------------------------------------
&gt;   &gt; {Compute_Reachable_N_state が作る RE_DFATransNode_t型のリンクリストを破棄する}
&gt;   &gt; procedure TRE_DFA.Destroy_DFA_TransList(pDFA_TransNode: RE_pDFATransNode_t);
&gt;   (省略)
&gt;   
&gt;   &gt;     while pDFA_TransNode &lt;&gt; nil do begin
&gt;   &gt;       pNext := pDFA_TransNode^.next;
&gt;   &gt;       if pDFA_TransNode^.ToNFAStateSet &lt;&gt; nil then
&gt;           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^追加
&gt;   &gt;         pDFA_TransNode^.ToNFAStateSet.Free;
&gt;   &gt;       Dispose(pDFA_TransNode);
&gt;   &gt; 
&gt;   &gt;       pDFA_TransNode := pNext;
&gt;   &gt;     end;
&gt;   (省略)
&gt;   
&gt;   
&gt;   
&gt;   以上の３点を修正したところ、見事に（？）メモリーリークが消え去りました。
&gt;   正直言って、１００％理解して修正したわけではありません(;^_^A~~
&gt;   ですので、これが正解かどうかは、あまり自信がないのですが、とりあえず
&gt;   メモリーリーク危険を回避できたという報告です。
&gt;   
&gt;   それでは。
</pre>

          </dd>
          <dt><b>2000/11/16</b></dt>
          <dd><a href="http://homepage1.nifty.com/~okapon/">おかぽん</a>
            さんからバグ情報をいただいたので公開します。
<pre>
&gt; 現象は、TAWKStrのMatchメソッドで発生しました。
&gt; 
&gt; そのときのプロパティは以下の通りです
&gt; LineSeparator = mcls_CRLF
&gt; UseFuzzyCharDic = True
&gt; UseSynoynDic = False
&gt; RegExp = 任意の文字列
&gt; 
&gt; UseFuzzyCharDic = False のときには、メモリーリークが発生しません。
&gt; 
&gt; 堀　浩行氏作成ののメモリーリークチェッカーコンポーネント
&gt; （Http://www.yks.ne.jp/~hori/)により発見しました。
&gt; 
&gt; メモリーリークの原因は、bmRegExp.pasユニットの
&gt; 「TRE_DFA.Compute_Reachable_N_statem」メソッド内、
&gt; 
&gt; ＞ToNFAStateSet := TRE_NFAStateSet.Create(FNFA.StateList.Count);
&gt; ＞ToNFAStateSet.Include(pNFANode^.TransitTo);
&gt; この部分のようです。ここでクリエイトされたされたクラスが、破棄されて
&gt; いないのが原因のようなのですが。
</pre>
          </dd>
        </dl>
      </dd>
    </dl>
  </body>


</html>

